/*Navigation*/

#nav{

	position: fixed;
	width: 157px;
	top: 220px;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: transparent;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-family: Tahoma;
}

li a:hover {
    background-color: rgb(206, 214, 216);
    color: white;
}




/*Text*/
h1{
	color: white;
	font-family: Tahoma;
    position: relative;
    top: 50%;
    left: 25%;

}

h3{
	color: white;
	font-family: Tahoma;
	position: relative;
    top: 60%;
    left: 31%;

}

@media only screen and (max-width: 2600px) {
                    h1 { font-size:500%;}
                    h3	{ font-size: 300%;}
        } 
@media only screen and (max-width: 1400px) {
                    h1 { font-size:300%;}
                    h3 { font-size:100%;}
        }        
@media only screen and (max-width: 1010px) {
                    h1 { font-size:100%;}
                    h3 { font-size:25%;}
        }
/*Background*/
#page_one{

	height: 1000px;
	background-color: rgba(91, 129, 144, 0.35);
	
}

@media only screen and (max-width: 2000px) {
                    #page_one{ height:100%;}
        }

#page_two{

	height: 1000px;
	background: url(http://chiantidixon.github.io/interactivemedia324/project1/backgrounds/backpack_background.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#page_three{

	height: 1000px;
	background: url(http://chiantidixon.github.io/interactivemedia324/project1/backgrounds/Loud-Eating_Background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#page_four{

	height: 1000px;
	background: url(http://chiantidixon.github.io/interactivemedia324/project1/backgrounds/fries_background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#page_five{

	height: 1000px;
	background: url(http://chiantidixon.github.io/interactivemedia324/project1/backgrounds/man.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#page_six{

	height: 1000px;
	background: url(http://chiantidixon.github.io/interactivemedia324/project1/backgrounds/bad.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#page_seven{

	height: 1000px;
	background: url(http://chiantidixon.github.io/interactivemedia324/project1/backgrounds/hands_background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
/*Gifs*/

.mouth{

	height: 100%;
    width: 100%;
    right: -28px;
    top: 115px;
    background: url(http://chiantidixon.github.io/interactivemedia324/project1/foregrounds/Loud-Eating.gif);
    position: relative;
    background-size: 100% 100%;

}

.party{

	height: 100%;
    width: 100%;
    right: -28px;
    background: url(http://chiantidixon.github.io/interactivemedia324/project1/foregrounds/backpack_transparent.png);
    position: relative;
    background-size: 100% 100%;

}

.bowl{

	height: 100%;
    width: 100%;
    right: -28px;
    background: url(http://chiantidixon.github.io/interactivemedia324/project1/foregrounds/fries.gif);
    position: relative;
    background-size: 100% 100%;

}


.manny{

	height: 100%;
    width: 50%;
    left: 19%;
    background: url(http://chiantidixon.github.io/interactivemedia324/project1/foregrounds/man.gif);
    position: relative;
    background-size: 100% 100%;

}

.poo{

	height: 100%;
    width: 100%;
    background: url(http://chiantidixon.github.io/interactivemedia324/project1/foregrounds/bad.gif);
    position: relative;
    background-size: 100% 100%;

}

.goo{

	height: 100%;
    width: 100%;
    background: url(http://chiantidixon.github.io/interactivemedia324/project1/foregrounds/hands.gif);
    position: relative;
    background-size: 100% 100%;

}















