#nav{

	height: 500px;
    width: 20px;
    position: fixed;
    right: 25px;
    top: 100px;
    background-color: white;
}

.top{

	height: 50px;
	width: 20px;
	position:	fixed;
	right: 25px;
	top:100px;
	background-color: black;
}


.loud{

	height: 50px;
	width: 20px;
	position:	fixed;
	right: 25px;
	top:150px;
	background-color: black;
}


.bridge{

	height: 50px;
	width: 20px;
	position:fixed;
	right: 25px;
	top:200px;
	background-color: black;
}

.fries{

	height: 50px;
	width: 20px;
	position:fixed;
	right: 25px;
	top:250px;
	background-color: black;
}




#page_one{

	height: 1000px;
	background-color: red;
	
}

#page_two{

	height: 1000px;
	background: url(file:///D:/IM/P1illustrations/Background_Fries.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#page_three{

	height: 1000px;
	background: url(http://chiantidixon.github.io/interactivemedia324/project1/backgrounds/Loud-Eating_Background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#page_four{

	height: 1000px;
	background-color: orange;
}