div {
	background-color: black;
	border: 1px solid white;
}
#header {

	height: 200px;
	width: 100%;

}

#bar {

	height: 50px;
	width: 100%;

}

.square {

	height: 300px;
	width: 33.17%;
	float: left;
}
